body {
    font-family: 'poppins', sans-serif;
    margin: 0%;
}


.background-img {

    filter: blur(2px);
    -webkit-filter: blur(4px);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100% 100%;
    margin-left: 150px;
}

.header {
    text-align: center;
    font-size: 40px;
    color: whitesmoke;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 60%;
}

.paragraph {
    color: white;
    font-size: 20px;
}

.donate-today {
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
}